.tab-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /* height: 50%; */
}

.highlight {
    background-color: yellow;
}

mark {
    background: orange;
    color: black;
}

.pageContent {
    margin-top: 20px;
    border: 1px outset green;
    text-align: left;
    word-wrap: break-word;
    padding: 8px;
}

body {
    margin-bottom: 100px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}