.remove-icon {
    float: right;
    color: #CC0700;
    cursor: pointer;
}

.submit-btn-container {
    width: 9.2em;
    height: 4.25em;
    padding-top: 0.9em;
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

input.visually-hidden+label {
    background-color: #0070f3;
    border-radius: 5px;
    color: white;
    padding: 7px 12px;
    cursor: pointer;
}

input.visually-hidden+label:hover {
    background-color: #1373e4;
}

input.visually-hidden+label:active {
    background-color: #1f6bc3;
}

input.visually-hidden:focus+label {
    outline: thin dotted;
}

input.visually-hidden:focus-within+label {
    outline: thin dotted;
}

.dailyContent {
    margin-top: 20px;
    border: 1px outset green;
    background-color: rgb(216, 234, 240);
    text-align: left;
}

.tab-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}